<div class="company-personal-list">
	@for (item of hiringsData; track $index) {
	<div class="card" (click)="openDialogPerson(item)">
		<header>
			<img src="data:image/png;base64,{{item.person.picture}}" alt="">
		</header>
		<section class="person-info">
			<p>{{item.person.name}} {{item.person.lastname}}</p>
			<p class="position">{{item.position}}</p>
		</section>
		<section class="button-div">
			<button class="suspend" (click)="cancelHiring($event, item.id)">
				Suspender
			</button>
			<button class="suspend" (click)="finishHiring($event, item.id)">
				Finalizar
			</button>
		</section>
	</div>
	}
</div>