<div class="hiring-title">
    <h2>Contrataciones finalizadas</h2>
</div>
<div class="company-personal-list">
    <div class="hired-person-div" *ngFor="let item of finishedHirings">
        <img src="data:image/png;base64,{{item.person.picture}}" alt="Person picture">
        <div class="person-info-div">
            <p>Nombre: {{item.person.name}} {{item.person.lastname}}</p>
            <p>DNI: {{item.person.dni}}</p>
            <p>Inicio de labores: {{item.startDate}}</p>
            <p>Fin de labores: {{item.endDate}}</p>
            <p>Salario: S/. {{item.salary}}</p>
            <p>Puesto: {{item.position}}</p>
        </div>
    </div>
</div>
