<div class="hiring-title">
	<h2>Contrataciones finalizadas</h2>
</div>
<div class="company-personal-list">
	@for (item of finishedHirings; track $index) {
	<div class="card">
		<header>
			<img src="data:image/png;base64,{{item.person.picture}}" alt="">
		</header>
		<section class="person-info">
			<p>{{item.person.name}} {{item.person.lastname}}</p>
			<p class="position">{{item.position}}</p>
			<p class="salary">S/. {{item.salary}}</p>
			<p class="date">Estado: {{item.state}}</p>
		</section>
	</div>
	}
</div>