<h2 mat-dialog-title>{{person.name}} {{person.lastname}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>Información personal</h3>
  <p><b>DNI: </b>{{person.dni}}</p>
  <p><b>Dirección: </b>{{person.address}}</p>
  <p><b>Correo: </b>{{person.email}}</p>
  <p><b>Teléfono: </b>S/. {{person.phoneNumber}}</p>
  <p><b>Fecha de nacimiento: </b>{{person.birthDate}}</p>
  <p><b>Vetado: </b>{{person.blackList ? 'Sí' : 'No'}}</p>
  <br>
  <h3>Información laboral</h3>
  <p><b>Posición: </b>{{person.workingInformation.position}}</p>
  <p><b>Nivel de educación: </b>{{person.workingInformation.educationLevel}}</p>
  <p><b>¿Tiene certificación? </b>{{person.workingInformation.certification ? 'Sí' : 'No'}}</p>
  <p><b>¿Tiene experiencia? </b>{{person.workingInformation.experience ? 'Sí' : 'No'}}</p>
  <p><b>Teléfono de contacto de referencia: </b>{{person.workingInformation.contactPhoneReference}}</p>
  <p><b>Información de contacto: </b>{{person.workingInformation.contactPhoneReference}}</p>
  <p><b>Teléfono de contacto de referencia: </b>{{person.workingInformation.contactPhoneReference}}</p>
  <p><b>Fecha de registro: </b>{{person.workingInformation.registrationDate}}</p>
  <p><b>Hoja de vida: </b><a href="{{person.workingInformation.cvUrl}}">{{person.workingInformation.cvUrl}}</a></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
  <button mat-button [mat-dialog-close]="true" (click)="moveToBlacklist(person.id)">Vetar</button>
</mat-dialog-actions>