<h2 mat-dialog-title>Reclutas que cumplen los requisitos</h2>
<mat-dialog-content>

	<div class="content">
		<ng-container *ngIf="(admisionData | pipeAdmisions: data.need) as filteredData">
			<div *ngIf="filteredData.length > 0; else noData">
				<div class="card" *ngFor="let item of filteredData; trackBy: trackByFn" (click)="openDialogPersonInfo(item)">
					<div class="card-header">
						<h1>{{item.name}}</h1>
						<h3>{{item.lastname}}</h3>
					</div>
					<img src="data:image/png;base64,{{item.picture}}" alt="">
					<h3>{{item.blackList}}</h3>
					<p>{{item.email}}</p>
				</div>
			</div>
			<ng-template #noData>
				<p>No hay elementos.</p>
			</ng-template>
		</ng-container>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button mat-dialog-close>Regresar</button>
</mat-dialog-actions>