<h2 mat-dialog-title>Personas que cumplen los requisitos</h2>
<mat-dialog-content>
	<div *ngIf="(admisionData | pipeAdmisions: data.need) as filteredData">
		<div class="content" *ngIf="filteredData.length > 0; else noData">
			<div class="card" *ngFor="let item of filteredData; trackBy: trackByFn"
				(click)="openDialogPersonInfo(item)">
				<header>
					<img src="data:image/png;base64,{{item.picture}}" alt="">
				</header>
				<section>
					<div class="info">
						<p>{{item.name}} {{item.lastname}}</p>
						@if (item.blackList) {
						<p style="font-weight: bold;">En lista negra</p>
						}
					</div>
					<div class="position">
						<p>{{item.workingInformation.position}}</p>
					</div>
				</section>
			</div>
		</div>
		<ng-template #noData>
			<p>No hay elementos.</p>
		</ng-template>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button mat-dialog-close>Regresar</button>
</mat-dialog-actions>