.content {
	display: grid;
	grid-template-columns: 4fr 6fr;
}

.header {
	padding: 1rem;
	display: flex;
	justify-content: center;
	column-gap: 3rem;
}

.name {
    color: #03bb85;
    font-size: 50px;
}

.button-div {
	display: flex;
	justify-content: center;
	gap: 1rem;

	button {
		height: 5rem;
		border-radius: 8px;
		border: 2px solid #03bb85;
		background-color: #03bb85;
		font-weight: 600;
		font-size: 15px;
		color: white;
		transition: 0.3s ease-in-out;
		flex: 1;
		&:hover {
			background-color: white;
			color: #03bb85;
			box-shadow: 0 0 0 3px #03bb85;
			cursor: pointer;
		}
	}
}

.company-information-div {
	max-width: 500px;

	a {
		color: #03bb85;
	}
}

.hiring-title {
	padding-left: 1rem;
}