<h1 mat-dialog-title>Create New Person</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="createPerson()">
    <input matInput formControlName="dni" placeholder="DNI" required>
    <mat-error *ngIf="controlTouched('dni') && controlHasError('dni', 'required')">
        DNI is required
    </mat-error>
    <mat-error *ngIf="controlTouched('dni') && controlHasError('dni', 'minlength')">
        DNI must be at least 8 characters
    </mat-error>
    <mat-error *ngIf="controlTouched('dni') && controlHasError('dni', 'maxlength')">
        DNI cannot exceed 8 characters
    </mat-error>

    <input matInput formControlName="name" placeholder="Name" required>
    <mat-error *ngIf="controlTouched('name') && controlHasError('name', 'required')">
        Name is required
    </mat-error>

    <input matInput formControlName="lastname" placeholder="Last Name" required>
    <mat-error *ngIf="controlTouched('lastname') && controlHasError('lastname', 'required')">
        Last Name is required
    </mat-error>

    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Birth Date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="controlTouched('birthDate') && controlHasError('birthDate', 'required')">
        Birth Date is required
    </mat-error>

    <input matInput formControlName="address" placeholder="Address" required>
    <mat-error *ngIf="controlTouched('address') && controlHasError('address', 'required')">
      Address is required
    </mat-error>

    <input matInput formControlName="phoneNumber" placeholder="Phone Number" required>
    <mat-error *ngIf="controlTouched('phoneNumber') && controlHasError('phoneNumber', 'required')">
      Phone Number is required
    </mat-error>
    <mat-error *ngIf="controlTouched('phoneNumber') && controlHasError('phoneNumber', 'minlength')">
      Phone Number must be at least 8 characters
    </mat-error>
    <mat-error *ngIf="controlTouched('phoneNumber') && controlHasError('phoneNumber', 'maxlength')">
      Phone Number cannot exceed 8 characters
    </mat-error>

    <input matInput formControlName="email" placeholder="Email" required>
    <mat-error *ngIf="controlTouched('email') && controlHasError('email', 'required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="controlTouched('email') && controlHasError('email', 'email')">
      Please enter a valid email address
    </mat-error>

    <input type="file" accept="image/*" formControlName="picture" required (change)="getFile($event)">
    <mat-error *ngIf="controlTouched('picture')">
        <span *ngIf="controlHasError('picture', 'required')">
            Picture is required
        </span>
    </mat-error>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true">Cancel</button>
      <button mat-button type="submit" [disabled]="form.invalid">Create</button>
    </div>
  </form>
</div>
