.content-div{
    input {
        width: 90%;
        padding: 1rem;
    }

    .input-div {
        display: flex;
        align-items: center;
    }

    padding: 1rem;
}

h1 {
    margin-left: 1rem;
}

.input-div {
    width: 97%;
}


form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}