<div class="content">
	<div class="header">
		<h1>Compañías</h1>
		<button mat-fab class="custom-fab" (click)="createCompany()">
            <mat-icon>add</mat-icon>
        </button>
	</div>
	<div class="companies-div">
		@for ( item of companyData; track $index) {
		<div class="card" (click)="selectCompany(item.id)">
			<div class="card-header">
				<div class="contact">
					<h2>{{ item.name }}</h2>
					<h3> - +51 {{ item.phoneNumber }}</h3>
				</div>
				<br>
				<p><b>Página web: </b><a href="{{item.webUrl}}">{{ item.webUrl }}</a></p>
			</div>
			<div class="card-content">
				<p>
					<b>Correo de contacto: </b>{{ item.email }}
				</p>
			</div>
		</div>
		}
	</div>
</div>