<div class="content">
    <div>
      <h1>Compañías</h1>
    </div>
    <div class="companies-div">
      <div class="card" *ngFor="let item of companyData" (click)="selectCompany(item.id)">
        <div class="card-header">
          <h2>{{ item.name }}</h2>
          <h3>+51 {{ item.phoneNumber }}</h3>
          <a href="{{item.webUrl}}">{{ item.webUrl }}</a>
        </div>
        <div class="card-content">
          <p>
            {{ item.description }}
          </p>
        </div>
    </div>
    </div>
</div>
  